<template>
  <div class="add-todo-form">
    <input type="text" class="new-todo-input" v-model="description" />
    <button class="add-todo-button" role="button" @click="addTodo">
      Add Todo
    </button>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";

export default defineComponent({
  name: "AddTodoForm",
  emits: ["addNewTodo"],
  setup(props, { emit }) {
    const description = ref();

    function addTodo() {
      emit("addNewTodo", description.value);
      description.value = "";
    }

    return {
      description,
      addTodo,
    };
  },
});
</script>

<style scoped></style>
