<template>
  <ul class="todo-list">
    <todo-list-item
      class="todo"
      v-for="todo in todos"
      :todo="todo"
      :key="todo.id"
    />
  </ul>
</template>

<script lang="ts">
import { Todo } from "@/modules/todo/entities/Todo";
import TodoListItem from "@/modules/todo/components/TodoList/TodoListItem.vue";
import { defineComponent, PropType } from "vue";

export default defineComponent({
  name: "TodoList",
  components: { TodoListItem },
  props: {
    todos: {
      type: Array as PropType<Array<Todo>>,
      required: true,
    },
  },
});
</script>

<style scoped></style>
