<template>
  <li>
    {{ todo.description }}
  </li>
</template>

<script lang="ts">
import { Todo } from "@/modules/todo/entities/Todo";
import { defineComponent, PropType } from "vue";

export default defineComponent({
  name: "TodoListItem",
  props: {
    todo: {
      type: Object as PropType<Todo>,
      required: true,
    },
  },
});
</script>

<style scoped></style>
