<template>
  <div class="home">
    <todo-list :todos="todos" />
    <add-todo-form @add-new-todo="createTodo" />
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import TodoList from "@/modules/todo/components/TodoList.vue";
import AddTodoForm from "@/modules/todo/components/AddTodoForm.vue";
import TodoService from "@/modules/todo/services/TodoService";
import { Todo } from "@/modules/todo/entities/Todo";

const todoService = new TodoService();

export default defineComponent({
  name: "Home",
  components: { AddTodoForm, TodoList },
  setup() {
    const todos = ref<Array<Todo>>([]);

    async function fetchTodosFromService() {
      try {
        todos.value = await todoService.fetchTodos();
      } catch (e) {
        alert("Something went wrong!");
      }
    }

    async function createTodo(description: string) {
      try {
        const createdTodo = await todoService.create(description);
        todos.value.push(createdTodo);
      } catch (e) {
        alert("Something went wrong!");
      }
    }

    fetchTodosFromService();
    return {
      todos,
      createTodo,
    };
  },
});
</script>
